body {
  font-family: Arial, sans-serif;
}

.line {
  border: none;
  height: 1px;
  background-color: #8e8d8d;
  /* Cor preta */
  margin: 20px 0;
  margin-bottom: 25px;
}

.red-button {
  margin-bottom: 30px;
  background-color: #ff3f3f;
  /* Fundo vermelho */
  color: white;
  /* Texto branco */
  border: none;
  /* Remove bordas */
  border-radius: 10px;
  /* Bordas suavemente arredondadas */
  padding: 10px 20px;
  /* Espaçamento interno */
  cursor: pointer;
  /* Cursor de clique */
  transition: background-color 0.3s ease;
  /* Animação ao passar o mouse */
}

.red-button:hover {
  background-color: darkred;
  /* Fundo vermelho escuro no hover */
}

/*Dropdown de serviços*/
.dropdown {
  width: 100%;
  margin-top: 20px;
}

.dropdown-button {
  background-color: #ffffff;
  font-weight: bold;
  color: #070707;
  padding: 10px 12px;
  font-size: 16px;
  border: 1px solid #5e5d5d;
  border-radius: 10px 10px 0px 0px;
  cursor: pointer;
  width: 100%;
  height: 60px;
  align-items: center;
  text-align: start;
  display: flex;
  justify-content: space-between;
}

.dropdown-button:hover {
  background-color: #e2e2e2;
}
/* Estilo inicial do conteúdo do dropdown (invisível) */
.dropdown-content {
  display: none;
  width: 100%;
  background-color: white;
  border: 1px solid #939393;
  border-radius: 4px;
  min-width: 160px;
  z-index: 1;
  /* Esconde o conteúdo inicialmente */
  opacity: 0;
  /* Torna o conteúdo invisível */
  max-height: 0;
  /* Define uma altura inicial de 0 para ocultar */
  overflow: hidden;
  /* Impede que o conteúdo seja visível fora da área */
  transition: opacity 0.3s ease, max-height 0.3s ease;
  /* Transições para opacidade e altura */
}

.dropdown-content a {
  color: #555;
  padding: 16px 16px;
  text-decoration: none;
  display: block;
  border-bottom: 1px solid #ddd;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown-content {
  display: block;
}

/* Quando o dropdown estiver visível (após o clique no botão) */
.dropdown-content.show {
  display: block;
  /* Torna o conteúdo visível */
  opacity: 1;
  /* Torna o conteúdo completamente opaco */
  max-height: 100%;
  /* Define uma altura máxima para o conteúdo (ajuste conforme necessário) */
}

/*fim dropdown serviços*/


